<md-card class="pricing-plan">
    <md-card-content>
      <h1>
        <strong class="plan-price">
          ACTIVITY TYPES
        </strong>
      </h1>
      <ng2-smart-table
      [settings]="settingsAccountActivations"
      [source]="source"
      (createConfirm)="createType($event)"
      (editConfirm)="editType($event)"
      ></ng2-smart-table>
  </md-card-content>
  
          </md-card>