

<md-card style="height:12% !important;">
        <md-card-content>

<div fxLayout="row" fxFlex.gt-sm="99">
        <div fxFlex.gt-sm="20%" >

            <md-select placeholder="Suppliers"  readonly onfocus="this.removeAttribute('readonly');" (change)="onChange($event)" >
                <md-option *ngFor="let supplier of tdSuppliers" [value]="supplier">
                  {{ supplier.name }}
                </md-option>
              </md-select>
        </div>

        <div fxFlex.gt-sm="20%" >

                    <md-select placeholder="Period"  readonly onfocus="this.removeAttribute('readonly');" (change)="onPeriodChange($event)" >
               
                      <md-option *ngFor="let period of tdPeriods" [value]="period">
                        {{ period.name }}
                      </md-option>
                    </md-select>
                  </div>

        <div fxFlex.gt-sm="20%" >
            <md-card-title>Residuary : {{ residuaryofSelectedSupplier }}</md-card-title>
        </div>
        <div fxFlex.gt-sm="20%" >
                <md-input-container >
                        <input mdInput placeholder="Subject" [(ngModel)]="subject">
                      </md-input-container>
        </div>


        <div fxFlex.gt-sm="20%" >
                <button md-raised-button color="primary" class="mr-1" (click)="onClick()" [disabled]="!seledtedSupplier || !seledtedPeriod">Send Reconciliation </button>
            </div>
        </div>
</md-card-content>
</md-card>

<md-card style="height:83% !important;">
  <md-card-content style="height:88% !important;" >

            <app-listaccountactivity [seledtedSupplier]="seledtedSupplier" [seledtedPeriod]="seledtedPeriod" ></app-listaccountactivity>

  </md-card-content>
</md-card>
