<md-toolbar class="main-header mat-toolbar mat-primary" color="primary" role="toolbar" ng-reflect-color="primary" ng-reflect-class-base="main-header"><div class="mat-toolbar-layout">
  <md-toolbar-row class="mat-toolbar-row" style="display: flex; box-sizing: border-box; flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal;">


  </md-toolbar-row></div></md-toolbar>
  <div *ngIf="Isloaded" >
  <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="Isclosed">
      <div fxFlex.gt-sm="100%" fxFlex="100">
      <md-card>
          <md-card-content style=" margin: auto !important;width: 50%;text-align: center;">
              <md-card-title> <span style="font-weight:bold;font-size:14px;">{{ InfoMessage }}</span> </md-card-title>
            </md-card-content>
            </md-card>
            </div>
    </div>
  <div fxLayout="row" fxLayoutWrap="wrap" *ngIf="!Isclosed">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <md-card>
          <md-card-content style=" margin: auto !important;width: 50%;text-align: center;">

              <md-card-title> <span style="font-weight:bold;font-size:14px;"> Supplier : {{supplierName}}</span> </md-card-title>
              <md-card-title> <span style="font-weight:bold;font-size:14px;"> Period : {{period.name}}</span> </md-card-title>
              <md-card-title> <span style="font-weight:bold;color:brown;font-size:15px;"> Residuary :{{residuary}} </span> </md-card-title>

              <button md-button color="primary" class="mr-1" (click)="onClickConfirm()" >Confirm</button>
              <button md-button color="warn" class="mr-1" (click)="onClickReject()">Reject</button>
              <button md-button color="warn" class="mr-1" (click)="onClickRejectWithDocument()"  [disabled]="isreject">Reject With Document</button>
              <button md-button color="#66bd69" class="mr-1" (click)="onClickDetails()">Details</button>
              <div>

              </div>
            </md-card-content>
            <div fxFlex.gt-sm="25%" fxFlex="100" *ngIf="isreject" >
            <md-card>
                <button md-raised-button md-icon-button md-button-sm class="mr-1" style="float: right;right: -15px;top: -3px;" (click)="oncloseClick()"><md-icon>cancel</md-icon></button>
                <br/>
                <md-input-container style="margin-left:15px;" [style.width.px]="300">
                    <input mdInput placeholder="Feedback" [(ngModel)]="feedback" >
                  </md-input-container>
                  <div fxLayout="row" fxLayoutWrap="wrap">

              <input style="margin-left:15px;margin-bottom:10px" type="file" (change)="detectFiles($event)" placeholder="Upload file">

              <button  md-button-sm color="primary" [disabled]="!selectedFiles" class="mr-1"  (click)="uploadFile()" >Send</button>
              </div>


            </md-card>
            </div>
            </md-card>
            </div>
      </div>

            <md-card *ngIf="isdetailsvisible" >
              
                <md-card-title>Account Activity 
                    <button md-raised-button md-icon-button md-button-sm class="mr-1" (click)="exportAsCSV()"><md-icon><i class="material-icons">assignment_returned</i></md-icon></button>
                    </md-card-title>
                <ngx-datatable style="height:100% !important"
                class="material"
                #dataTable
                [rows]="rows"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="9">>
                <ngx-datatable-column [prop]="'activitytype.code'" name="Type-Code" [width]="80"></ngx-datatable-column>
                <ngx-datatable-column [prop]="'documantNo'" name="Doc.No" [width]="80"></ngx-datatable-column>
                <ngx-datatable-column [prop]="'description'" name="Desc" [width]="80"></ngx-datatable-column>
                <ngx-datatable-column [prop]="'documantDate'" name="Doc.Date" [width]="80">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <span>
                          {{converttoDateString(value)}}
                        </span>
                      </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [prop]="'option.value'" name="Option" [width]="80"></ngx-datatable-column>
                <ngx-datatable-column [prop]="'dueDate'" name="Option Date" [width]="80">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <span>
                          {{converttoDateString(value)}}
                        </span>
                      </ng-template>
                    </ngx-datatable-column>

                <ngx-datatable-column [prop]="'documantamount'" name="Doc.Amount" [width]="80"></ngx-datatable-column>
                <ngx-datatable-column [prop]="'type.name'" name="Op.Type" [width]="80"></ngx-datatable-column>
                <ngx-datatable-column [prop]="'documantDebit'" name="Doc.Debit" [width]="80"></ngx-datatable-column>
                <ngx-datatable-column [prop]="'dueIn'" name="Due In" [width]="80"></ngx-datatable-column>
                <ngx-datatable-column [prop]="'residuary'" name="Residuary" [width]="80"></ngx-datatable-column>


                </ngx-datatable>
            </md-card>
          </div>
