<div *ngIf="rows">
    <md-card-title>
      List of Suppliers</md-card-title>
    <md-card-subtitle>can be edited , filtered , updated...</md-card-subtitle>
    <div fxLayout="row" fxLayoutWrap="wrap">
      <md-input-container style="width: 20%" class="mb-1">
        <input mdInput id="inpname" placeholder="Type to filter the name column..." required (keyup)='updateFilterName($event)'>
      </md-input-container>
      <md-input-container style="width: 20%" class="mb-2">
          <input mdInput id="inpcode" placeholder="Type to filter the code column..." required (keyup)='updateFilterName($event)'>
        </md-input-container>
        <md-input-container style="width: 20%" class="mb-2">
            <input mdInput id="inpemail" placeholder="Type to filter the email column..." required (keyup)='updateFilterName($event)'>
          </md-input-container>
          <md-select mdInput id="inpistrusted" style="width: 20%" (change)="updateFilterbystatus($event)" class="mb-2" placeholder="IsTrusted">
              <md-option value="All">All</md-option>
              <md-option value="Yes">Yes</md-option>
              <md-option value="No">No</md-option>
            </md-select>

            <md-select mdInput id="inpisdeleted" style="width: 20%" (change)="updateFilterbystatusdeleted($event)" class="mb-2" placeholder="IsDeleted">
                <md-option value="All">All</md-option>
                <md-option value="Yes">Yes</md-option>
                <md-option value="No">No</md-option>
              </md-select>




    </div>
    <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="11" [columnMode]="'force'" [footerHeight]="50"
      [rowHeight]="'auto'" [rows]="rows">
      <ngx-datatable-column name="Name">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span title="Double click to edit" (dblclick)="editing[row.$$index + '-name'] = true" *ngIf="!editing[row.$$index + '-name']">
            {{value}}
          </span>
          <input autofocus (blur)="updateValue($event, 'name', value, row)" *ngIf="editing[row.$$index + '-name']" type="text" [value]="value"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Code">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <span title="Double click to edit" (dblclick)="editing[row.$$index + '-code'] = true" *ngIf="!editing[row.$$index + '-code']">
            {{value}}
          </span>
          <input autofocus (blur)="updateValue($event, 'code', value, row)" *ngIf="editing[row.$$index + '-code']" type="text"
            [value]="value" />
        </ng-template>
      </ngx-datatable-column>



      <ngx-datatable-column name="Email">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <span title="Double click to edit" (dblclick)="editing[row.$$index + '-email'] = true" *ngIf="!editing[row.$$index + '-email']">
           {{value}}
         </span>
         <input autofocus email (blur)="updateValue($event, 'email', value, row)" *ngIf="editing[row.$$index + '-email']" type="text"
         [value]="value" />
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="IsTrusted">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span title="Double click to edit" (dblclick)="editing[row.$$index + '-isTrusted'] = true" *ngIf="!editing[row.$$index + '-isTrusted']">
             {{value}}
           </span>
            <select *ngIf="editing[row.$$index + '-isTrusted']" (change)="updateValue($event, 'isTrusted', value, row)" [value]="value">
             <option value="Yes">Yes</option>
             <option value="No">No</option>
           </select>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="IsDeleted">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span title="Double click to edit" (dblclick)="editing[row.$$index + '-isDeleted'] = true" *ngIf="!editing[row.$$index + '-isDeleted']">
             {{value}}
           </span>
            <select *ngIf="editing[row.$$index + '-isDeleted']" (change)="updateValue($event, 'isDeleted', value, row)" [value]="value">
             <option value="Yes">Yes</option>
             <option value="No">No</option>
           </select>
          </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
  </div>
