<md-card class="pricing-plan">
    <md-card-content>
      <h1>
        <strong class="plan-price">
        SYSTEM MAIL
        </strong>
      </h1>
      <ng2-smart-table
      [settings]="settingsTypes"
      [source]="sourceB"
      (editConfirm)="editMail($event)"
      ></ng2-smart-table>
  </md-card-content>
  
          </md-card>