<md-card>
    <md-card-title>Add Account Activity</md-card-title>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <md-card-content>
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex.gt-sm="33" fxFlex="100">
        
            <md-select placeholder="Suppliers"  readonly onfocus="this.removeAttribute('readonly');" [formControl]="form.controls['supplier']">
                         <md-option *ngFor="let supplier of tdSuppliers" [value]="supplier">
                           {{ supplier.name }}
                         </md-option>
                       </md-select>
                       <small *ngIf="form.controls['supplier'].hasError('required') && form.controls['supplier'].touched" class="mat-text-warn">Supplier is required.</small>
        </div>
  
  
        <div fxFlex.gt-sm="33" fxFlex="100">
  
  
            <md-select placeholder="Activity Type"  [formControl]="form.controls['activityType']">
   
            <md-option *ngFor="let activitytype of activitytypes" [value]="activitytype">
              {{ activitytype.name }}
            </md-option>
          </md-select>
          <small *ngIf="form.controls['activityType'].hasError('required') && form.controls['activityType'].touched" class="mat-text-warn">Activity Type is required.</small>
  
        </div>
        <div fxFlex.gt-sm="33" fxFlex="100">
          <md-input-container [style.width.px]="300">
            <input mdInput placeholder="Document No" [formControl]="form.controls['documantNo']">
          </md-input-container>
          <small *ngIf="form.controls['documantNo'].hasError('required') && form.controls['documantNo'].touched" class="mat-text-warn">Document No is required.</small>
    
        </div>
      </div>
  
  
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex.gt-sm="33" fxFlex="100">
        
          <md-input-container >
            <input mdInput placeholder="Documant  Date:"  type="date" readonly onfocus="this.removeAttribute('readonly');" [formControl]="form.controls['documantDate']">
          </md-input-container>
          <small *ngIf="form.controls['documantDate'].hasError('required') && form.controls['documantDate'].touched" class="mat-text-warn">Documant Date is required.</small>
         
          
            
        </div>
  
  
        <div fxFlex.gt-sm="33" fxFlex="100">
            <md-select placeholder="Option"  [formControl]="form.controls['opsion']">
                <md-option *ngFor="let option of options" [value]="option">
                  {{ option.viewValue }}
                </md-option>
                </md-select>
                <small *ngIf="form.controls['opsion'].hasError('required') && form.controls['opsion'].touched" class="mat-text-warn">Option is required.</small>
        </div>
       
        <div fxFlex.gt-sm="33" fxFlex="100">
          <md-input-container >
            <input mdInput placeholder="Due Date:"  type="date" [formControl]="form.controls['dueDate']">
          </md-input-container>
          <small *ngIf="form.controls['dueDate'].hasError('required') && form.controls['dueDate'].touched" class="mat-text-warn">Due Date is required.</small>
         
          
        </div>
  
        
      </div>
      
      <div fxLayout="row" fxLayoutWrap="wrap">
        <div fxFlex.gt-sm="33" fxFlex="100">
            <md-select placeholder="Type"  [formControl]="form.controls['type']">
                
                         <md-option *ngFor="let tpe of types" [value]="tpe" >
                           {{ tpe.name }}
                         </md-option>
                       </md-select>
        </div>
  
  
        <div fxFlex.gt-sm="33" fxFlex="100">
          <md-input-container >
            <input (keypress)="keyPress($event)" mdInput placeholder="Documant Debit - TL" [formControl]="form.controls['documantDebit']" />
          </md-input-container>
          <small *ngIf="form.controls['documantDebit'].hasError('required') && form.controls['documantDebit'].touched" class="mat-text-warn">Documant Debit is required.</small>
        </div>
       
        <div fxFlex.gt-sm="33" fxFlex="100">
          <md-input-container >
            <input (keypress)="keyPress($event)" mdInput placeholder="Due In - TL" [formControl]="form.controls['dueIn']"/>
          </md-input-container>
          <small *ngIf="form.controls['dueIn'].hasError('required') && form.controls['dueIn'].touched" class="mat-text-warn">DueIn is required.</small>
        </div>
  
        <div fxFlex.gt-sm="100" fxFlex="100">
            <md-input-container >
              <input mdInput placeholder="Description" [formControl]="form.controls['description']"/>
            </md-input-container>
            <small *ngIf="form.controls['description'].hasError('required') && form.controls['description'].touched" class="mat-text-warn">Description No is required.</small>
          </div>
       
      </div>
  

    </md-card-content>
    <md-card-actions>
        <button md-raised-button color="warn" type="button" >Clear</button>
        <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
      </md-card-actions>
    </form>
    
    </md-card>
  