<md-card-title>Account Activity</md-card-title>
<ngx-datatable style="height:100% !important"
class="material"
[rows]="rows"
[columnMode]="'force'"
[headerHeight]="50"
[footerHeight]="50"
[rowHeight]="'auto'"
[limit]="8">>
<ngx-datatable-column [prop]="'activitytype.code'" name="Type-Code" [width]="80"></ngx-datatable-column>
<ngx-datatable-column [prop]="'documantNo'" name="Doc.No" [width]="80"></ngx-datatable-column>
<ngx-datatable-column [prop]="'description'" name="Desc" [width]="80"></ngx-datatable-column>
<ngx-datatable-column [prop]="'documantDate'" name="Doc.Date" [width]="80">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <span>
          {{converttoDateString(value)}}
        </span>
      </ng-template></ngx-datatable-column>
<ngx-datatable-column [prop]="'option.value'" name="Option" [width]="80"></ngx-datatable-column>
<ngx-datatable-column [prop]="'dueDate'" name="Option Date" [width]="80">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                <span>
                  {{converttoDateString(value)}}
                </span>
              </ng-template>
</ngx-datatable-column>
<ngx-datatable-column [prop]="'documantamount'" name="Doc.Amount" [width]="80"></ngx-datatable-column>
<ngx-datatable-column [prop]="'type.name'" name="Op.Type" [width]="80"></ngx-datatable-column>
<ngx-datatable-column [prop]="'documantDebit'" name="Doc.Debit" [width]="80"></ngx-datatable-column>
<ngx-datatable-column [prop]="'dueIn'" name="Due In" [width]="80"></ngx-datatable-column>
<ngx-datatable-column [prop]="'residuary'" name="Residuary" [width]="80"></ngx-datatable-column>


</ngx-datatable>
