<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="center start" class="mat-card-top">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
<md-card fxFlex="100%" fxFlex.gt-sm="100%">
    <md-card-title>Create Period</md-card-title>

        <md-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-1">
                <md-input-container style="width: 50%">
                  <input mdInput placeholder="Period Name" [formControl]="form.controls['name']">
                </md-input-container>
                <small *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="mat-text-warn">Name is required.</small>
                <small *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched" class="mat-text-warn">Name must be at least 5 characters long.</small>
              </div>

              <div fxLayout="row" fxLayoutWrap="wrap">
                  <div class="mb-1">
                    <md-input-container style="width: 50%">
                      <input mdInput placeholder="Start Date: " [formControl]="form.controls['startDate']" type="date" (blur)="compareTwoDates()">
                    </md-input-container>
                    <small *ngIf="form.controls['startDate'].hasError('required') && form.controls['startDate'].touched" class="mat-text-warn">You must include a starting date.</small>
                    <small *ngIf="form.controls['startDate'].errors?.date && form.controls['startDate'].touched" class="mat-text-warn">You must include a valid starting date.</small>
                    <small *ngIf="error.isError" class="mat-text-warn">{{ error.errorMessage }}</small>
                  </div>
                </div>

                <div fxLayout="row" fxLayoutWrap="wrap">
                    <div class="mb-1">
                      <md-input-container style="width: 50s%">
                        <input mdInput placeholder="End Date: " [formControl]="form.controls['endDate']" type="date" (blur)="compareTwoDates()">
                      </md-input-container>
                      <small *ngIf="form.controls['endDate'].hasError('required') && form.controls['endDate'].touched" class="mat-text-warn">You must include a starting date.</small>
                      <small *ngIf="form.controls['endDate'].errors?.date && form.controls['endDate'].touched" class="mat-text-warn">You must include a valid starting date.</small>
                      <small *ngIf="error.isError" class="mat-text-warn">{{ error.errorMessage }}</small>
                     
                    </div>
                  </div>
                  <md-card-actions>
                    <md-card-actions>
                      <button md-raised-button color="warn" type="button">Clear</button>
                      <button md-raised-button color="primary" type="submit" [disabled]="!form.valid || error.isError">Submit</button>
                    </md-card-actions>
                    </md-card-actions>
                </form>
          </md-card-content>
    </md-card>
    </div>
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <md-card fxFlex="100%" fxFlex.gt-sm="100%">
        <md-card-title>Periods</md-card-title>





        <div *ngIf="rows">

            <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="11" [columnMode]="'force'" [footerHeight]="50"
              [rowHeight]="'auto'" [rows]="rows">
              <ngx-datatable-column name="Name">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  <span title="Double click to edit" (dblclick)="editing[row.$$index + '-name'] = true" *ngIf="!editing[row.$$index + '-name']">
                    {{value}}
                  </span>
                  <input autofocus (blur)="updateValue($event, 'name', value, row)" *ngIf="editing[row.$$index + '-name']" type="text" [value]="value"
                  />
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="StartDate">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  <span title="Double click to edit" (dblclick)="editing[row.$$index + '-startDate'] = true" *ngIf="!editing[row.$$index + '-startDate']">
                    {{converttoDateString(value)}}
                  </span>
                  <input autofocus (blur)="updateValue($event, 'startDate', value, row)" *ngIf="editing[row.$$index + '-startDate']" type="date"
                    [value]="converttoDate(value)" />
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="EndDate">
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  <span title="Double click to edit" (dblclick)="editing[row.$$index + '-endDate'] = true" *ngIf="!editing[row.$$index + '-endDate']">
                    {{ converttoDateString(value)}}
                  </span>
                  <input autofocus (blur)="updateValue($event, 'endDate', value, row)" *ngIf="editing[row.$$index + '-endDate']" type="date"
                    [value]="converttoDate(value)" />
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>







    </md-card>
    </div>
    </div>
    </div>
  </div>
