<div id="videoblur">
  <video  id="bgvid" playsinline autoplay muted loop>
  <source src="../../../assets/data/tea_leaves.mp4" type="video/mp4">
  </video>
  </div>
<div class="session mat-indigo">
  <div class="session-content">
    <div class="lockscreen-wrapper text-xs-center">
      <md-card>
        <md-card-content>


            <p>Your email is not verified!</p>
            <p class="center-block mt-1">{{ email }}</p>
            <p></p>
            <div fxLayout="column" fxLayoutAlign="space-around">

              <div>


                  <button md-raised-button color="warn" class="mr-1" (click)="SendVerification()">Send Activation</button><p></p>
                  <button md-raised-button color="primary" class="mr-1" (click)="Close()">Close</button>
              </div>
            </div>

        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
<script>
  var vid = document.getElementById("bgvid");
var pauseButton = document.querySelector("#polina button");

if (window.matchMedia('(prefers-reduced-motion)').matches) {
    vid.removeAttribute("autoplay");
    vid.pause();
    pauseButton.innerHTML = "Paused";
}

function vidFade() {
  vid.classList.add("stopfade");
}

vid.addEventListener('ended', function()
{
// only functional if "loop" is removed
vid.pause();
// to capture IE10
vidFade();
});


pauseButton.addEventListener("click", function() {
  vid.classList.toggle("stopfade");
  if (vid.paused) {
    vid.play();
    pauseButton.innerHTML = "Pause";
  } else {
    vid.pause();
    pauseButton.innerHTML = "Paused";
  }
})
</script>
