<md-card>
  <md-card-title>Create New Supplier</md-card-title>
  <md-card-subtitle>Supplier Information</md-card-subtitle>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <md-card-content>
      <div class="mb-1">
        <md-input-container style="width: 100%">
          <input readonly onfocus="this.removeAttribute('readonly');"  mdInput placeholder="Supplier Name" [formControl]="form.controls['name']">
        </md-input-container>
        <small *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="mat-text-warn">Supplier name is required.</small>
        <small *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched" class="mat-text-warn">Supplier name must be at least 5 characters long.</small>
      </div>


      <div class="mb-1">
        <md-input-container style="width: 100%">
          <input readonly onfocus="this.removeAttribute('readonly');"  mdInput placeholder="Supplier Code" [formControl]="form.controls['code']">
        </md-input-container>
        <small *ngIf="form.controls['code'].hasError('required') && form.controls['code'].touched" class="mat-text-warn">Supplier Code is required.</small>
        <small *ngIf="form.controls['code'].hasError('minlength') && form.controls['code'].touched" class="mat-text-warn">Supplier Code must be at least 3 characters long.</small>
      </div>

      <div class="mb-1">
        <md-input-container style="width: 100%">
          <input readonly onfocus="this.removeAttribute('readonly');"  email mdInput placeholder="Supplier E-mail" [formControl]="form.controls['email']">
        </md-input-container>
        <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched && form.controls['email'].hasError('pattern')" class="mat-text-warn">Supplier email is required.</small>
        </div>



        <p></p>
        <div fxLayout="row" fxLayoutWrap="wrap">
          <div class="mb-2">
            <label>Is Trusted?</label>
            <md-radio-group [formControl]="form.controls['isTrusted']">
              <md-radio-button value="Yes">Yes</md-radio-button>
              <md-radio-button value="No">No</md-radio-button>
            </md-radio-group>
            <small *ngIf="!form.controls['isTrusted'].valid && form.controls['isTrusted'].touched" class="mat-text-warn">You must select (isTrusted) property.</small>
          </div>
        </div>






    </md-card-content>
    <hr>
    <md-card-actions>
      <button md-raised-button color="warn" type="button" (click)="onClear()">Clear</button>
      <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
    </md-card-actions>
  </form>

</md-card>
