<div id="videoblur">
  <video  id="bgvid" playsinline autoplay muted loop>
  <source src="../../../assets/data/tea_leaves.mp4" type="video/mp4">
  </video>
  </div>
<div class="session mat-indigo">
  <div class="session-content">
    <div class="session-wrapper">
      <md-card>
        <md-card-content>
          <form [formGroup]="form">
            <div class="text-xs-center pb-1">
              <img src="assets/images/logo-dark.png" alt=""/>
              <p class="mat-text-muted">Create an app id to continue.</p>
            </div>
            <div fxLayout="column"  fxLayoutAlign="space-around">
              <div class="pb-1">
                <md-input-container style="width: 100%">
                  <input mdInput placeholder="Email address" type="email" [formControl]="form.controls['email']">
                </md-input-container>
                <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="mat-text-warn">You must include an email address.</small>
                <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="mat-text-warn">You must include a valid email address.</small>
              </div>
              <div class="pb-1">
                <md-input-container style="width: 100%">
                  <input mdInput type="password" placeholder="Password" [formControl]="form.controls['password']">
                </md-input-container>
                <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="mat-text-warn">You must include password.</small>
              </div>
              <div class="pb-1">
                <md-input-container style="width: 100%">
                  <input mdInput placeholder="Confirm Password" [formControl]="form.controls['confirmPassword']" type="password">
                </md-input-container>
                <small *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched" class="mat-text-warn">You must include confirm password.</small>
                <small *ngIf="form.controls['confirmPassword'].errors?.equalTo" class="mat-text-warn">Passwords do not match.</small>
              </div>
              <div class="pb-1">
                <md-checkbox>I have read and agree to the terms of service.</md-checkbox>
              </div>
              <button md-raised-button color="primary" class="btn-block" type="submit" [disabled]="!form.valid" (click)="signUp()">Create your account</button>
            </div>
            <div class="pt-1 pb-1 text-xs-center">
              <a [routerLink]="['/session/forgot']">Forgot password?</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a [routerLink]="['/session/signin']">Access your account.</a>
            </div>
          </form>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
<script>
  var vid = document.getElementById("bgvid");
var pauseButton = document.querySelector("#polina button");

if (window.matchMedia('(prefers-reduced-motion)').matches) {
    vid.removeAttribute("autoplay");
    vid.pause();
    pauseButton.innerHTML = "Paused";
}

function vidFade() {
  vid.classList.add("stopfade");
}

vid.addEventListener('ended', function()
{
// only functional if "loop" is removed
vid.pause();
// to capture IE10
vidFade();
});


pauseButton.addEventListener("click", function() {
  vid.classList.toggle("stopfade");
  if (vid.paused) {
    vid.play();
    pauseButton.innerHTML = "Pause";
  } else {
    vid.pause();
    pauseButton.innerHTML = "Paused";
  }
})
</script>

