<md-card class="pricing-plan">
        <md-card-content>
          <h1>
            <strong class="plan-price">
            TYPES
            </strong>
          </h1>
          <ng2-smart-table
          [settings]="settingsTypes"
          [source]="sourceA"
          (createConfirm)="createAType($event)"
          (editConfirm)="editAType($event)"
          ></ng2-smart-table>
      </md-card-content>
      
              </md-card>