<style>

</style>
<div fxLayout="row" fxLayoutWrap="wrap" >
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget mat-purple">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>send</md-icon>
        </div>
        <div class="pl-0">
          <h2 md-card-widget-title>{{totalcount}}</h2>
          <p>Total</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget mat-teal">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>done</md-icon>
        </div>
        <div class="pl-0">
          <h2 md-card-widget-title>{{confirmcount}}</h2>
          <p>Comfirms</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget mat-red">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>clear</md-icon>
        </div>
        <div class="pl-0">
          <h2 md-card-widget-title>{{rejectcount}}</h2>
          <p>Rejects</p>
        </div>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <md-card class="card-widget mat-indigo" style="background-color:#d8d895">
      <div md-card-widget>
        <div md-card-float-icon>
          <md-icon>email</md-icon>
        </div>
        <div class="pl-0">
          <h2 md-card-widget-title>{{mailsendedcount}}</h2>
          <p>Pending (Mail was sended)</p>
        </div>
      </div>
    </md-card>
  </div>
</div>

<div fxLayout="row" fxLayoutWrap="wrap">
  <md-input-container style="width: 33%" class="mb-1">
    <input mdInput id="inpcode" placeholder="Type to filter the Code..." required (keyup)='updateFilterName($event)'>
  </md-input-container>
  <md-input-container style="width: 33%" class="mb-2">
      <input mdInput id="inpsupplier" placeholder="Type to filter the Supplier..." required (keyup)='updateFilterName($event)'>
    </md-input-container>



      <md-input-container style="width: 33%" class="mb-1">
        <input mdInput id="inpsubject" placeholder="Type to filter the Subject..." required (keyup)='updateFilterName($event)'>
      </md-input-container>

</div>
<div fxLayout="row" fxLayoutWrap="center">


<md-select mdInput id="inpistrusted" style="width: 25%" (change)="updateFilterbystatus($event)" class="mb-2" placeholder="Status">
  <md-option value="-1">All</md-option>
  <md-option value="0">Pending</md-option>
  <md-option value="1">Confirm</md-option>
  <md-option value="2">Reject</md-option>
</md-select>

          <md-select mdInput id="inpistrusted" style="width: 25%" (change)="updateFilterbyperiod($event)" class="mb-2" placeholder="Period">
              <md-option value="-1">All</md-option>
            <md-option *ngFor="let period of periods" [value]="period">
              {{ period.name }}
            </md-option>
        </md-select>

</div>
<ngx-datatable style="height:100% !important"
class="material"
[rows]="rows"
[columnMode]="'force'"
[headerHeight]="50"
[footerHeight]="50"
[rowHeight]="'auto'"
[limit]="8">>


<ngx-datatable-column [prop]="'IsConfirm'" name="Status" width="300">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <span style="background-color: #d8d895; padding: 5px; border-radius: 25px;color:white" *ngIf="value === 0">   {{value === 0 ? 'Pending' : ''}}</span>
        <span style="background-color: #009688;padding: 5px; border-radius: 25px;color:white" *ngIf="value === 1"> {{value === 1 ? 'Confirmed' : ''}}</span>
        <span style="background-color: #f44336 ;padding: 5px; border-radius: 25px;color:white" *ngIf="value === 2"> {{value === 2 ? 'Rejected' : ''}}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [prop]="'period'" name="Period" width="300">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span> {{ value.name }}  </span>
              </ng-template>
  </ngx-datatable-column>



  <ngx-datatable-column [prop]="'residuary'" name="Type" width="300">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <span *ngIf="value === '0 TL'">   {{ value === '0 TL' ? 'Eşit' : ''}}</span>
        <span *ngIf="value !== '0 TL'">   {{ value.includes('-') ? 'Borç' : 'Alacak'}}</span>
    </ng-template>
  </ngx-datatable-column>




  <ngx-datatable-column [prop]="'supplier.code'" name="Code" width="300"></ngx-datatable-column>
  <ngx-datatable-column [prop]="'supplier.name'" name="Supplier" width="300"> </ngx-datatable-column>
  <ngx-datatable-column [prop]="'subject'" name="Subject" width="300"> </ngx-datatable-column>





  <ngx-datatable-column [prop]="'RequestDate'" name="Request Date" width="300">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
 <span> {{ timestamptodate(value) }}  </span>
     </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [prop]="'FeedbackDate'" name="Feedback Date" width="300">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
 <span> {{ timestamptodate(value) }}  </span>
     </ng-template>

  </ngx-datatable-column>
  <ngx-datatable-column [prop]="'residuary'" name="Residuary" width="300">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
 <span> {{ value }} </span>
     </ng-template>

  </ngx-datatable-column>

  <ngx-datatable-column [prop]="'file.url'" name="File" width="200">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
 <a [href]="value"  *ngIf="value" target="_blank"> <md-icon>description</md-icon></a>
     </ng-template>

  </ngx-datatable-column>


  <ngx-datatable-column [prop]="'file.feedback'" name="Feedback" width="400">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
 <span> {{ value }} </span>
     </ng-template>

  </ngx-datatable-column>








</ngx-datatable>








